/* font-family: 'Sofia Sans Condensed', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
@import "/assets/css/typography.css";

body {
   font-family: 'Nunito', sans-serif;
   box-sizing: border-box;
}

/* ============================================================sidebar*/
.sidebar {
   width: 250px;
   height: 100%;
   overflow-y: scroll;
   border-right: 1px solid var(--grey);
   padding: 15px 0px;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   background-color: white;
   transition: all 2s;
}

.sidebar::-webkit-scrollbar {
   width: 7px;
}


.sidebar::-webkit-scrollbar-thumb {
   background-color: var(--grey);
}

.logo {
   padding: 0px 25px 10px 25px;
   width: 200px;
   height: auto;
   margin: 0px auto;
}

.profile-information {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.profile-pic {
   height: 100px;
   width: 100px;
   border-radius: 100%;
   overflow: hidden;
}

.profile-pic a {
   object-fit: cover;
}

.profile-pic a img {
   height: 100%;
   width: 100%;
   border-radius: 100%;

}

.nav-menu {
   margin: 0px 20px 0px 20px;
   height: calc(100vh - 265px);
   background-color: white;
}

.nav-link {
   font-size: 15px;
   color: var(--grey-dark);
   font-weight: 600;
   white-space: nowrap;
   display: flex;
}

.nav-link i {
   font-size: 17px;
   margin-right: 6px;
}

.active-nav {
   color: black;
}

.nav-link:hover {
   color: black !important;
}
/* .drop-down{
   overflow: hidden;
   position: relative;
} */
.dropdown-container {
   /* display:none; */
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   background-color: var(--grey-light);
   padding: 0px  0px 0px 40px ;
   position:relative;
   border: 1px solid var(--grey);
   border-radius: 4px;
   z-index: -100;
   max-height:0;
   opacity: 0;
   transition: all 2s !important;
   
}
.dropdown-container a{
   position: relative;
   white-space: nowrap;
}
.dropdown-container a::before{
   content: " ";
   position: absolute;
   top: 8px;
   left: -15px;
   height: 6px;
   width: 6px;
   border-radius: 100%;
   background-color: var(--grey-dark);
}
.dropdown-btn {
   border: none;
   background-color: transparent;
}

.dropdown-btn:hover {
   color: var(--grey-dark) !important;
}

a:hover {
   color: inherit !important;
}

.no-decoration {
   text-decoration: none;
}
.notification-number{
   height: 15px;
   width: 15px;
   border-radius: 100%;
   background-color: var(--black);
   color: white;
   font-size: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 0px;
}


/* =====================================================Header */
.main{
   width: calc(100% - 250px);
   min-height:calc(100vh - 53px);
   background-color: white;
}
.footer{
   width: calc(100% - 250px);
   background-color: var(--black);
}
.header{
   padding:10px 0px;
}
.select-language {
   display: flex;
   flex-direction: column;
}
.select-language img{
height: 10px;
width: 20px;
cursor: pointer;
}
.active-lang{
   border: 2px solid var(--grey-dark);
}
.select-language img:hover{
   border: 2px solid var(--grey-dark);
   }
.side-menu{
   height: 30px;
   width: 40px;
   background-color: var(--grey);
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   font-size: 20px;
   line-height: 10px;
   display: none;
   color: white;
}
.contact-div{
   display: flex;
   align-items: center;
}
/* =====================================================mai section cards */
.total-card {
   padding: 15px;
   border-radius: 7px;
   border: 1px solid var(--grey);
   color: var(--black);
}
.icon{
   padding: 5px;
   border-radius: 100%;
   background-color: var(--grey-light);
   height: 30px;
   width: 30px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--grey-dark);
   border: 1px solid var(--primary);
}
.icon i{
   line-height: 10px
}
.total-card:hover{
   background-color: var(--black);
   color: white !important;
}

/* ----------------==========================================Table */
/* .Table{
   border: 1px solid var(--grey);
   border-radius: 4px;
} */
.Table tbody tr td{
   white-space: nowrap;
}
.table-head{
   font-size: 14px;
   white-space: nowrap;
   /* min-width: 100px; */
}

.table-div{
   border: 1px solid var(--grey);
   border-radius: 4px;
   overflow-x: scroll;
}
.table-div::-webkit-scrollbar {
  height: 5px;
}
.table-div::-webkit-scrollbar-thumb {
   background-color: var(--grey);
  
}
table.dataTable.no-footer{
   border-bottom: 0px solid transparent !important;
}
.status-active{
   font-weight: 500;
   background-color:aqua;
   text-align: center;
   font-size: 12px;
    color: white;
    border-radius: 3px;
    width: fit-content;
    padding: 2px 8px;
}
.status-pending{
   font-weight: 500;
   background-color: rgb(148, 118, 62);
   text-align: center;
   font-size: 12px;
    color: white;
    border-radius: 3px;
    width: fit-content;
    padding: 2px 8px;
}
.status-approved{
   font-weight: 500;
   background-color: rgb(50, 129, 50);
   text-align: center;
   font-size: 12px;
    color: white;
    border-radius: 3px;
    width: fit-content;
    padding: 2px 8px;
}
.status-pause{
   font-weight: 500;
   background-color: var(--grey);
   text-align: center;
   font-size: 12px;
    color: white;
    border-radius: 3px;
    width: fit-content;
    padding: 2px 8px;
}


/* ==============================================================Form */
.form{
   border: 1px solid var(--grey);
   border-radius: 4px;
   padding: 15px;
}
.form-tag{
   background-color: var(--grey);
   color: white;
   padding: 5px 7px;
   border-radius: 4px;
}
.form-row{
   border-bottom: 1px solid var(--black);
   padding: 7px 0px;
}

.form-row label{
   border-right: 1px solid var(--black);
   font-size: 14px;
   font-weight: 700;
   color: var(--black);
   width: 140px;
}

.form-row .label-lg{
   border-right: 1px solid var(--black);
   font-size: 14px;
   font-weight: 700;
   color: var(--black);
   width: 250px;
}
.from-input{
   border: none;
   box-shadow: none;
   padding: 0px 15px;
   font-size: 14px;
   color: var(--black);
}
.form-textarea{
   border: 1px solid var(--black);
   box-shadow: none;
   padding: 10px 15px;
   font-size: 14px;
   color: var(--black);
   border-radius: 4px;
}
.from-input:focus,
.from-input:active{
   outline: none;
   box-shadow: none;
}
.from-input::placeholder{
   border: none;
   box-shadow: none;
   padding: none;
   font-size: 14px;
   color: var(--grey-dark);
}
.form-icon{
   font-size: 18px;
   line-height: 10px;
   color:var(--grey-dark)
}
.form-btn{
   font-size: 14px;
   color: white;
   background-color: var(--black);
   padding: 6px 10px;
   border-radius: 4px;
   text-decoration: none;
}
.form-btn:hover{
   color: white !important;
}
.form-check-input:checked {
   background-color: var(--grey-dark) !important;
   border-color: var(--grey-dark) !important;
}
.form-check-input:focus {
   box-shadow: none !important;
}


/* ========================================================Dropzone */
.drop-zone {
   height: 100px;
   width: 100%;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-weight: 500;
   font-size: 16px;
   cursor: pointer;
   color: #cccccc;
   border: 1px solid var(--black);
   border-radius: 4px;
 }
 
 .drop-zone--over {
   border-style: solid;
 }
 
 .drop-zone__input {
   display: none;
 }
 
 .drop-zone__thumb {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   overflow: hidden;
   background-color: #cccccc;
   background-size: cover;
   position: relative;
 }
 
 .drop-zone__thumb::after {
   content: attr(data-label);
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 5px 0;
   color: #ffffff;
   background: rgba(0, 0, 0, 0.75);
   font-size: 14px;
   text-align: center;
 }
 
/* =========================================================buttons */
.blank-btn{
   background-color: transparent;
   border: 1px solid var(--grey);
   padding: 3px 10px;
   font-size: 14px;
   color: var(--black);
   font-weight: 800;
   border-radius: 4px;
}
.blank-btn:hover{
   background-color: var(--black);
   border: 1px solid var(--grey);
   padding: 3px 10px;
   font-size: 14px;
   color: white;
   font-weight: 800;
   border-radius: 4px;
}
/* =========================================================right sidebar */
.grey-box{
   padding: 15px;
   background-color: var(--grey-light);
}
.side-card{
   padding: 7px;
   border-bottom: 1px solid var(--black);
}



/* ==============================================================Backdrop */
.backdrop{
   background-color: #00000071;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   transition: all 2s;
}
.contact-card{
   display: none;
}


/* =====================================================================candidates Profile */
.candidate-profile{
   height: 110px;
   width: 110px;
   border-radius: 100%;
   overflow: hidden;
   object-fit: cover;
}
/* Tabs */
/* Style the tab */
.tab {
   overflow: hidden;
   border-bottom: 1px solid var(--grey);
 }
 
 /* Style the buttons inside the tab */
 .tab button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 3px 20px;
   transition: 0.3s;
 }
 
 /* Change background color of buttons on hover */
 .tab button:hover {
   border-bottom: 2px solid var(--black);
 }
 
 /* Create an active/current tablink class */
 .tab button.active {
   border-bottom: 2px solid var(--black);
 }
 
 /* Style the tab content */
 .tabcontent {
   border-top: none;
 }








 /* =======================================================================Timeline */
 .sessions {
   list-style: none;
   padding: 0;
 }

 .wrapper {
   padding: 10px;
   border-radius: 15px;
 }

 .sessions {
   margin-top: 2rem;
   border-radius: 12px;
   position: relative;
 }
 .sessions li {
   padding-bottom: 1.5rem;
   border-left: 1px solid #abaaed;
   position: relative;
   padding-left: 20px;
   margin-left: 10px;
 }
 .sessions li:last-child {
   border: 0px;
   padding-bottom: 0;
 }
.sessions li:before {
   content: '';
   width: 15px;
   height: 15px;
   background: white;
   border: 1px solid #4e5ed3;
   box-shadow: 3px 3px 0px #bab5f8;
   box-shadow: 3px 3px 0px #bab5f8;
   border-radius: 50%;
   position: absolute;
   left: -10px;
   top: 0px;
 }
 .time {
   color: #2a2839;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   font-size: 14px;
 }

 
 /* ============================================================================Service page */
 .service-card{
   background-color: var(--grey-light);
   padding: 15px;
   border-radius: 4px;
   color: var(--black);
   margin-bottom: 15px;
 }
 .service-card:hover{
   background-color: var(--grey);
   color: white !important;
 }